body{
    background: lightgray;
}

@media (min-width: 0px) {
    .navbar {
        background: #17a2b8;
    }
}

@media (min-width: 576px) {
    .navbar {
        background: #17a2b8;
    }
}

@media (min-width: 768px) {
    .navbar {
        background: #17a2b8;
    }
}

@media (min-width: 992px) {
    .navbar {
        background: white;
    }
}

@media (min-width: 1200px) {
    .navbar {
        background: white;
    }
}
  